:root {
  font-size: 18px;
  --white30 :#FFFFFF;
  --white10: #A5A3A5;
  --gray: #3A3539;
  --balck: #251F24;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 16px;
  color: var(--white10);
  font-family: 'Nunito', sans-serif;
  background-color: var(--balck);
}
a {
  color: var(--gray30);
}

header {
  font-size: 14px;
  color: var(--white30);
  margin-block-start: 20px;
}

header a {
  color: var(--white10);
  text-decoration: none;
}

header a:hover {
  color: var(--white30);
}

header li {
  margin-bottom: 16px;
  color: var(--white10);
}

nav details summary {
  font-weight: bold;
  line-height: 24px;
}

h1 {
  font-size: 40px;
  margin-block-start: 20px;
  margin-block-end: 16px;
  font-weight: normal;
  color: var(--white30);
}

/* h1 ~ p {
  margin-bottom: 64px;
} */
hr {
  margin-block: 40px;
  border: 1px solid rgba(97, 97, 97, 0.2);

}

h2 {
  font-size: 2em;
  margin-block-start: 64px;
  margin-block-end: 40px;
  font-weight: normal;
  color: var(--white30);
}

h3 {
  font-size: 1.5em;
  margin-block-start: 16px;
  margin-block-end: 24px;
  font-weight: normal;
  position: relative;
  color: var(--white30);
}

pre {
  background: var(--gray);
  padding: 40px;
  font-family: 'Roboto', sans-serif;
  line-height: 24px;
  overflow: auto;
  border-radius: 8px;
}

blockquote {
  font-size: 24px;
  margin-block-start: 80px;
  margin-block-end: 63px;
  padding-left: 16px;
  line-height: 24px;
  background-color: var(--gray);
  border-radius: 8px;
  padding: 24px;
}
blockquote p {
  color: var(--white30);
}

/* blockquote p span {

} */

blockquote span::before {
  content: "-";
}

.header {

}

.header-content {
  padding-inline: 20px;
}

.wrapper {
  max-inline-size: 902px;
  margin: auto;
}

.main-content {
  padding-inline: 16px;
}


.hero {
  background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
  block-size: 50px;
}

.section-content+hr {
  display: none;
}

.section-content img {
  margin-block-start: 40px;
  max-inline-size: 100%;
  display: block;
}

.section-content {
  counter-reset: titleList;
}

.section-content h3 {
  counter-increment: titleList;
  padding-bottom: 8px;
}

.section-content h3::before {
  content: counter(titleList)". ";
}

/* .section-content h3::after {
  content: '';
  width: 80px;
  height: 4px;
  background-color: #424242;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
} */

.section-content {
  margin-block-start: 164px;
}

.section-content:first-of-type {
  margin: 0;
}

.selection-m-content {
  margin-block-start: 164px;
}

.selection-m-content ol li {
  line-height: 24px;
}

.selection-m-content ul li {
  margin-bottom: 16px;
  color: var(--white30);
}
.selection-m-content ul li span {
  color: var(--white10);
}
.img-p p {
  color: var(--white30);
}
.img-p a {
  color: #157EFB;
}

/* .slider {

} */
.slider-container {
  /* block-size: 100px; */
  display: block;
  overflow: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  font-size: 0;
}
.video {
  margin: 0;
  display: inline-block;
  inline-size: 100%;
  block-size: auto;
  aspect-ratio: 16/9;
}
.slider-bullet-list {
  text-align: center;
  margin-block-start: 10px;
}
.slider-bullet {
  display: inline-block;
  inline-size: 15px;
  block-size: 15px;
  border-radius: 50%;
  background-color: rgba(66, 66, 66, 0.2);
}
div .slider-bullet-list .slider-bullet-1 {
  display: inline-block;
  inline-size: 15px;
  block-size: 15px;
  border-radius: 50%;
  background-color: #FFFFFF;
}
div .slider-bullet-list a:hover {
  background-color: #FFFFFF;
}
.form input {
  inline-size: 100%;
  border: 1px solid var(--white30);
  background-color: var(--balck);
  box-sizing: border-box;
  border-radius: 8px;
  padding-inline: 16px;
  padding-block: 12px;
  color: var(--white30);
  font-size: 16px;
  display: block;
  margin-block-end: 24px;
}
.form input[type="submit"] {
  background-color: #157EFB;
  border: none;
}
.form input::-webkit-input-placeholder {
  color: var(--white10);
}
@media screen and (min-width: 1366px) {
  .hero {
    block-size: 350px;
  }
  .header {
      position: sticky;
      top: 0;
    }

  .header-content {
      position: relative;
      padding-inline: 0;
    }
  header {
      inline-size: 188px;
      position: absolute;
      inset-block-start: 64px;
      inset-inline-start: -232px;
      z-index: 1;
    }
  h1 {
    font-size: 60px;
      margin-block-start: 64px;
  }
}
